<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="footer-div">
        <div>
            <p>@Codial.All Rights Reserved </p>
        </div>
        <div class="nav-menu">
            <a href="/">Home</a>
            <a href="/users/profile">Profile</a>
        </div>

    </div>
</footer>