body{
    margin: 0;
    height: 100vh;
    background-color: black;
    #content-div{
        min-height: 84vh;
        // background-image: url('../images/social-media-purpose-1-w930.jpg');
        // background-position: fixed;
        // background-repeat: no-repeat;
        // background-size: cover;
    }
}
